.header-w {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #28282B;
    padding: 1rem 2rem;
    color: white;

    .brand-title {}

    .nav-wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;


        .dropdown-menu {
            position: relative;

            &:hover {
                .dropdown-content {
                    opacity: 1;
                    z-index: 1;
                }
            }

            a {}

            .dropdown-content {
                position: absolute;
                display: flex;
                flex-direction: column;
                background-color: #28282B;
                justify-content: center;
                align-items: center;
                opacity: 0;
                z-index: -1;
                transition: opacity .15s ease-in-out;
                transform: translateX(-50%);

                a {
                    padding: 1rem 2rem;
                }
            }
        }
    }


}