:root {
  --primary: #282828;
  --secondary:  #2D2C31;
  --tertiary:  #313137;
  --quaternary:  #363337;
  --quinary: #0B0B0B;
  --senary: #F5F5F5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  font-weight: bolder;
}