.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .account-info-w {
        display: flex;
        flex-direction: column;

        .user-photo {
            width: 250px;
        }

        .user-username {}

        .user-email {}

        .user-password {}
    }
}