.news-w {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;

    .heading {
        text-align: center;
    }

    .news-item-w {
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-flow: row wrap;
        margin: 4rem;

        .news-card {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 500px;
            box-shadow: 0 0 4px 0 grey;

            .photo {
                object-fit: cover;
                height: 300px;
                width: 300px;
            }

            .info-w {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;

                .date--category {
                    display: flex;
                    font-size: 12px;

                    .date {}

                    .category {}
                }

                .title {}

                .description {}

                .read-more-btn {
                    text-decoration: underline;
                }

            }
        }
    }
}