.news-w {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;

    .heading {
        margin: 1em 0;
        display: flex;
        justify-content: center;
        position: relative;
        text-align: center;

        &::after {
            position: absolute;
            bottom: 0;
            width: 200px;
            height: 2px;
            background-color: #6d6d6d;
            content: "";
            animation: underline 2s ease-in-out infinite;

            @keyframes underline {
                0% {
                    width: 0;
                }

                50% {
                    width: 200px;
                }

                100% {
                    width: 0;
                }
            }
        }
    }

    .news-item-w {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2rem;
        margin: 1em 0;
        width: 100%;

        .news-card {
            display: flex;
            align-items: center;
            gap: 2rem;
            width: 500px;
            box-shadow: 0 0 4px 0 grey;

            .card-photo {
                object-fit: cover;
                height: 300px;
                width: 300px;
            }

            .info-w {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;

                .section {
                    display: flex;
                    font-size: 12px;

                    .date {}

                    .category {}
                }

                .title {}

                .description {}

                .read-more-btn {
                    text-decoration: underline;
                }
            }
        }
    }
}