.blog-w {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 4rem;

    .heading-w {
        display: flex;
        justify-content: space-between;

        h1 {}

        button {}
    }

    input[type=text] {
        height: 50px;
        font-size: 32px;
    }

    .blogs-item-w {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .blog-card {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 2px 0 grey;
            padding: 1rem;
            gap: .8rem;

            h1 {}

            .date {
                font-size: 12px;
                opacity: .8;
            }

            .category {
                border: 1px solid black;
                width: fit-content;
                padding: .4rem;
            }

            .info {}

            .read-more-btn {
                text-decoration: underline;
            }
        }
    }
}